body{
    font-family: roboto,arial;
     
    background-size: cover;
    background-position: center top;
    
}




.header{
    display: flex;
    justify-content: space-between;
    background-color:rgb(218, 12, 12);
    color: white;
    padding: 4px 4px;
    align-items: center;
    height: 45px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
   
}

.menu-icon-container{
    height: 30px;
    cursor: pointer;
}

.menu-icon{
    height: 100%;
}



.middle{
    display: flex;
    align-items: center;
}
.goodhope-text{

    font-weight: bold;
    font-size: large;
}


.truck-container{
    height: 35px;
}

.truck-icon{
    height: 100%;
}


.right-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.food-truck-text{
    background-color: rgb(235, 183, 15);
    color: black;
    padding-left:12px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 15px;
    font-size: small;
    font-weight: bold;
}


.shopping-bag-container,
.search-icon-container{
    height: 30px;
    cursor: pointer;
    margin-right: 4px;
    display: flex;
    justify-content: center;

}


.shopping-bag-icon,
.search-icon{
    height: 100%;
}


.search-icon-container{
    margin-right: 15px;
}

.cart-quantity-container{
    position: absolute;
    background-color: black;
    padding-left:2px;
    padding-top: 3px;
    width: 18px;
    height: 18px;
    border-radius: 15px;
    top:3px;
    right: 0px;
    color: white;
    font-weight: bold;
    font-size: small;
}
 