body{
    font-family: roboto;
   
    padding-top: 80px;
 
}


.shopping-cart-heading{
    font-size: 20px;
    color:black;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    font-family: roboto;
    font-weight: 900;
}


.products-grid{
   
    border-bottom: 1px solid rgb(219, 219, 219);
    margin-bottom: 30px;

}
 

.product-container{
    display: flex;
    margin-left: 10px;
    align-items: end;
    position: relative;
    z-index: 10;
    border-top: 1px solid rgb(194, 192, 192);
    padding-top: 10px;
    padding: 12px 2px;
    color: black;
 
}
 
 
.item-image-container{
    width: 160px;
    
    
 
    /*box-shadow: 0px 0px 10px 3px gray;*/
  

}
.item-image{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.item-info-container{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding-bottom: 5px;
 padding-top: 4px;
 margin-left: 15px;
 
}
.item-info-container div{
    margin-top: 5px;
}
.item-price{
    color: orangered;
    font-weight: 600;
}
 .item-name{
    font-weight: 500;
 }
 
 .update-button{
    width: 110px;
    border: 1px solid grey;
    font-family: roboto;
    padding: 5px 4px;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    font-size: 14px;
 }

 .update-button{
    background-color: green;
 }

 .update-button:hover{
    background-color: rgb(2, 83, 2);
 }

 .delete-item-container{ 
    position: absolute;
    top: 8px;
    right: 4px;
    cursor: pointer;
 }
 

 .delete-icon{
    width: 20px;
 }
 .delete-item-container:hover{
    background-color:rgb(219, 217, 217);
 }

.loyalty-question-span{
    margin-top: 35px;
    font-size: 18px;
    margin-left: 10px;
    color: black;
}

.no-container,
.yes-container{
    display: flex;
    justify-content: start;
    align-items: center;
    color: black;
   
    margin-top: 5px;
    width: max-content;
    margin-left: 10px;
}

.customer-comment-container{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    margin-top:30px  ;
    color: black;
}
.customer-instruction-span{
    margin-bottom: 3px;
    font-size:15px;
    color: black;
 
}
.instructions-text-area{
    width: 90%;
    height: 100px;
    outline: none;
    border: 1px solid gray;
}


.bottom-links{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.sub-total-container{
display: flex;
align-items: center;
color: black;

}
.sub-total-span{
    font-family: roboto;
    margin-right: 15px;
    font-weight: 700;
}
.sub-total-amount-span{
font-family: oleo script;
color: darkred;
}

.shipping-tax-text{
font-family: oleo script;
 

}

.update-cart-link{
    display: flex;
    justify-content: center;
    width: 60%;
    background-color:orangered;
    color: white;
    padding: 10px 0;
    margin-bottom: 12px;
    margin-top: 12px;
    cursor: pointer;
}
.proceed-to-checkout-link{
    display: flex;
    justify-content: center;
    width: 60%;
    background-color: green;
    color: white;
    padding: 10px 0;
    cursor: pointer;
}