



.sidebar{
    color: black;
    position: fixed;
    top: 55px;
    left: 1px;
    background-color: aliceblue;
    width: 75%;
    height: max-content;
    display: flex;
    animation: slideRight 0.5s ease-out forwards;
    flex-direction: column;
    padding:40px 6px 10px 6px;
    z-index: 0;
    font-size: 16px;
    display: none;
   
   
}

.sidebar .close{
    animation: slideUp 0.5s ease-out forwards;
}


.close-sidebar-span{
position: absolute;
top:0;
left: 2px;
height: 32px;
 cursor: pointer;
}

.login-register-container-primary,
.media-container-primary,
.contact-container-primary,
.menu-container-primary,
.shop-container-primary{
    margin-bottom: 5px;
    height:max-content;
    padding-bottom: 14px; 
   
}

.shop-categories-container,
.contact-methods-container,
.sign-in-categories-container
{
    
    display: flex;
    margin-top: 0;
    padding: 2px 6px;
    flex-direction: column;
    justify-content: space-between;
     height: 90%;
     animation: slideDown 0.5s ease-out forwards;
    width: max-content;
    margin-left: 0px;
    display: none;
    
 
  
}


.shop-categories-container span,
.contact-methods-container span{
    padding: 3px 5px;
    cursor: pointer;
    

}

.shop-categories-container span:hover,
.contact-methods-container span:hover{
    background-color: aqua;
 
}

.menu-container-primary{
    cursor: pointer;
}

.show{
    display: flex;
}

.hide{
    display: none;
}
.follow-us-text{
    font-family: Abril fatface;
    font-weight: 500;
}


.media-platforms-container{
    padding-top: 8px;

}

.shop-text,
.contact-text,
.login-register-container,
.media-container-primary,
.login-register-container,
.menu-container-primary{
    font-weight: 600;
}

.shop-container,
.contact-container,
.login-register-container{
    display: flex;
    justify-content: space-between;
    padding: 10px auto;
    cursor: pointer;
    

  
}
.icon-span{
    height: 20px;
}
.add-icon{
    height: 100%;
}


@keyframes slideDown {
    from {
      transform: translateY(-20%); /* Start above the viewport */
      opacity: 0; /* Start invisible */
    }
    to {
      transform: translateY(0); /* End at its original position */
      opacity: 1; /* End fully visible */
    }
  }

  @keyframes slideRight{
    from {
        transform: translateX(-20%); /* Start above the viewport */
        opacity: 0; /* Start invisible */
      }
      to {
        transform: translateX(0); /* End at its original position */
        opacity: 1; /* End fully visible */
      }
  }
  @keyframes slideUp{
    from {
        transform: translateY(0); /* Start above the viewport */
        opacity: 0; /* Start invisible */
      }
      to {
        transform: translateY(-20%); /* End at its original position */
        opacity: 1; /* End fully visible */
      }
  }
  

  .close{
    animation: slideUp 0.5s ease-out forwards;
}
 

