.sidebar {
    color: black;
    position: fixed;
    top: 55px;
    left: 1px;
    width: 75%;
    height: max-content;
    display: flex;
    animation: slideInRight 0.5s ease-out forwards;
    flex-direction: column;
    padding: 40px 6px 10px 6px;
    z-index: 0;
    font-size: 16px;
    
  
}

.sidebar-close {
    animation: slideUp 0.5s ease-out forwards;
}

.close-sidebar-span {
    position: absolute;
    top:0;
    left: 2px;
    height: 32px;
    cursor: pointer;

}

.shop-section,
.menu-section,
.contact-section,
.auth-section,
.social-media-section {
    margin-bottom: 5px;
    height: max-content;
    padding-bottom: 14px;
}

.shop-content,
.contact-content,
.auth-content {
    display: flex;
    margin-top: 0;
    padding: 2px 6px;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    animation: slideInDown 0.5s ease-out forwards;
    width: max-content;
    margin-left: 0px;
}

.shop-content span,
.contact-content span {
    padding: 3px 5px;
    cursor: pointer;
}

.shop-content span:hover,
.contact-content span:hover {
    background-color: aqua;
}

.menu-section {
    cursor: pointer;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.follow-us-title {
    font-family: 'Abril Fatface';
    font-weight: 500;
}

.social-media-icons {
    padding-top: 8px;
}

.shop-title,
.contact-title,
.auth-header,
.social-media-section,
.menu-section {
    font-weight: 600;
}

.shop-header,
.contact-header,
.auth-header {
    display: flex;
    justify-content: space-between;
    padding: 10px auto;
    cursor: pointer;
}

.icon-container {
    height: 20px;
}

.toggle-icon {
    height: 100%;
    animation: slideInDown 0.5s ease-out forwards;
}

@keyframes slideInDown {
    from {
        transform: translateY(-20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(-20%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-20%);
        opacity: 0;
    }
}

.b-color{
    background-color: aliceblue;
}

.open-anime{
    animation: slideInDown 0.5s ease-out forwards;;
}