
.sidebar{
    background-color:black;
    width: 70%;
    height: 85%;
    top: 50px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 102;
    padding: 30px 15px;
    animation-name: slideInLeft;
    animation-duration: 0.7s;
    display: none;
} 




.follow-us,
.privacy-policy,
.contact-us,
.menu,
.shop-span-primary,
.sign-in{
 color:white;
 font-weight: 500;
 font-size: 17px;
 cursor: pointer;
}

.shop-span-primary{
    
    display: flex;
    justify-content: space-between;
}
.shop-categories-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    padding: 4px 2px;
    display: none;
}

.shop-categories-container span{
    width: max-content;
    padding: 2px 6px;
    margin-top: 10px;
    cursor: pointer;
}

.shop-categories-container span:hover{
background-color: yellow;
color: black;
}

.media-icon{
    height: 45px;
}
.media-links-container{
    margin-top: 10px;
    display: flex;
}

.show{
    display: flex;
    animation-name: slideInLeft;
    animation-duration: 0.7s;
}

 
.animate{
    display: flex;
    animation-name: slideOutLeft;
    animation-duration: 0.5s;
}
.open{

    display: flex;
    animation-name: slideDown;
    animation-duration: 0.5s;
}
.close{
    display: flex;
    animation-name: slideUp;
    animation-duration: 0.5s;
}

@keyframes slideInLeft{
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes slideOutLeft{
    from{
        transform: translateX(0);
    }
   
    to{
        transform: translateX(-300px);
    }
  
}

@keyframes slideDown{
    from{
        transform: translateY(-20px);
    }
    to{
        transform: translateY(0);
    }
}


@keyframes slideUp{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-30px);
    }
  
}